.Header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 8px 16px;
  background-color: var(--figma-color-bg);
  box-shadow: 0 1px 0 0 var(--figma-color-border);
  & > h2 {
    font-weight: 600;
    font-size: 12px;
    margin: 0;
  }
  & > button {
    font-size: 16px;
    line-height: 16px;
    width: 32px;
    height: 32px;
    border-radius: 1px;
    border: none;
    background-color: transparent;
    color: var(--figma-color-text-secondary);
    &:hover {
      color: var(--figma-color-text-primary);
      background-color: var(--figma-color-bg-secondary);
    }
  }
}