body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.app {
  font-family: "Inter", sans-serif;
  color: var(--figma-color-text-primary);
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 48px);
  width: 100vw;
  font-size: 13px;
  color: var(--figma-color-text-secondary);
}
.noStyles {
  font-size: 13px;
  color: var(--figma-color-text-secondary);
  padding: 16px;
}