.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: calc(100% - 8px);
  height: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 4px;
  background-color: var(--figma-color-bg-secondary);
  box-shadow: 0 -1px 0 0 var(--figma-color-border);
  & > h2 {
    font-weight: 600;
    font-size: 12px;
    margin: 0;
  }
  & button {
    font-size: 16px;
    line-height: 16px;
    width: 32px;
    height: 32px;
    border-radius: 1px;
    border: none;
    background-color: transparent;
    color: var(--figma-color-text-disabled);
    &[data-enabled] {
      color: var(--figma-color-text-primary);
    }
    &:hover {
      color: var(--figma-color-text-primary);
      background-color: rgba(0,0,0,0.05);
    }
    svg {
      fill: currentColor;
    }
  }
  .FooterRightItems {
    margin-right: auto;
  }
}